@media all and (max-width: 480px) {
	header {
		height: 25px;
	}
	#logo {
		width: 60px;
 		height: 230px;
		background-image: url("../../data/img/minilogo.png");
	}
	#header-top {
		visibility: hidden;
	}
	nav {
		position: absolute;
		right: 0px;
		height: 100%;
		width: 90%;
		/* visibility: hidden; */
	}

	nav ul {
		width: 100%;
	}
	nav li {
		display: block;
		width: 100%;
	}
	#content {
		width: 100%;
		margin-top: 100px;
	}
}

