@media all and (max-width: 480px) {
	header {
		height: 25px;
	}
	#logo {
		width: 60px;
 		height: 230px;
		background-image: url("../../data/img/minilogo.png");
	}
	#header-top {
		position: absolute;
		top: 40px;
		right: 0px;
		width: 70%;
		height: calc(50vh-20px);
	}
	nav {
		position: absolute;
		right: 0px;
		top: calc(50vh+40px);
		height: calc(50vh-20px);
		width: 80%;
		/* visibility: hidden; */
	}

	nav ul {
		width: 100%;
		height: 100vh;
		background-color: rgb(127, 90, 181);
	}
	nav li {
		display: block;
	}
	nav a {
		width: 100%;
		text-align: left;
		padding-left: 10px;
	}
	#content {
		width: 100%;
		margin-top: 100px;
	}
	#mobile-header-button {
		visibility: visible;
	}
}

