@media screen and (max-width: 480px) {
	header {
		height: 50px;
	}
	#logo {
		width: 100px;
		background-image: url("./img/minilogo.png");
	}
	#news {
		visibility: hidden;
	}
	nav {
		visibility: hidden;
	}
}