body{
	width:100%;
	margin: auto;
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
	background-color: white;
	padding-bottom: 50px;
}

/* HEADER */
header{
	background-color: rgb(140, 133, 186);
	color: white;
	padding-top: 15px;
	margin-bottom: 80px;
}

#header-content{
	max-width: 1000px;
	margin: auto;
}

/* Header left */

#logo{
	width: 250px;
	float: left;
	position: relative;
	top: -25px;
}

/* Header-Top */

#header-top{
	background-color: rgb(165, 158, 211);
	height: 70px;
	margin-left: 125px;
	padding-top: 10px;
}

/* Le #news est dans le #header-top */
#news{
	display: inline;
	vertical-align: middle;
}

#news *{
	margin: 0px;
}

#news p:first-child{
	position: relative;
	left: -20px;
	margin-bottom: 10px;
}

/* Affichage des news */

#header-top > #news{
	text-align: left;	
}

/*	Header bottom */
nav{
	margin-left: 250px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

nav li{
    display: inline;
}


nav a{
	display: inline-block;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 25%;
	font-size: 1.1em;
	text-decoration: none;
	/* Couleur */
	color: white;
}

nav a:visited{
	color: white;
}

nav a:hover{
	color: white;
	background-color: white;
	opacity: 0.5;
}



/* CORPS DU SITE */

#content{
	width: 60%;
	box-sizing: border-box;
	border: 1px solid black;
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-bottom: 50px;
}



/* ------------------------------------------- */
/*                                             */
/*  CSS SPECIFIQUE A CERTAIN CONTENT DIFFERENT */
/*                                             */
/* ------------------------------------------- */

/* INSCRIPTION */
#inscription table{
	width: 100%;
	padding-right: 30px;
}

/* Première case du tableau */
#inscription table td:first-child{
	text-align: right;
	width: 25%;
}

/* Seconde case du tableau (Celle qui stock le point d'intérogation) */
#inscription table td:nth-child(2){
	width: 25px;
}

/* Les trois checkbox */
#inscription .ligne_checkbox span{
	display: inline-block;
	width: 30%;
}

/* L'input d'une ligne simple */
#inscription .ligne_simple td:last-child input{
	width: 100%;
}

/* Ligne plus petite pour les champs qui demande moins d'info */
#inscription .ligne_petite td:last-child input{
	width: 39%;
}

/* Ligne double */
#inscription .ligne_double td:last-child > input{
	width: 39%;
}
#inscription .ligne_double td:last-child span{
	margin-left: 20px;
}
#inscription .ligne_double td:last-child span input{
	margin-left: 20px;
	width: 39%;
}


/* AFFICHAGE D'UN ACTEUR */
.img-profil{
	width: 100px;
}


/* AFFICHAGE CONNEXION */
#content-connexion{
	text-align: center;
	padding: 10px;
	padding-bottom: 30px;
}
