body{
	width:100%;
	margin: auto;
	font-family: "Myriad Pro",  Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
	background-color: rgb(218,217,228);
	padding-bottom: 50px;
}

/* HEADER */
header{
	/*background-color: rgb(140, 133, 186);*/
	background-color: rgb(127, 90, 181);
	color: white;
	padding-top: 15px;
	height: 122px;
	position: fixed;
	width:100%;
	top: 0px;
	-webkit-transition: height 0.5s;
    	transition: height 0.5s;
    	z-index: 2;
    	box-shadow: 0px 0px 5px #000;
}

#header-content{
	max-width: 1200px;
	margin: auto;
}

#mobile-header-button {
	visibility: hidden;
	position: absolute;
	top: 2px;
	right: 2px;
}

/* Header left */

#logo{
	width: 250px;
	height: 230px;
	float: left;
	position: relative;
	top: -25px;
	z-index: 5;
	background-repeat: no-repeat;
	background-image: url("../../data/img/logo.png");
	background-size: 100%;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

/* Header-Top */

#header-top{
	background-color: rgb(165, 158, 211);
	height: 70px;
	margin-left: 125px;
	padding-top: 10px;
	position: relative;
	-webkit-transition: height 0.5s;
    transition: height 0.5s;
}


#header-top-mini{
	height: 0px;
	background-color: rgb(165, 158, 211);
	margin-left: 125px;
	padding-top: 0px;
	position: relative;
	-webkit-transition: height 0.5s;
    transition: height 0.5s;
    overflow: hidden;
}

/* Le #news est dans le #header-top */
#news{
	display: inline;
	vertical-align: middle;
}

#news *{
	margin: 0px;
}

#news p:first-child{
	position: relative;
	left: -20px;
	margin-bottom: 10px;
}

/* Le #account est dans le #header-top */
#account{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 80px;
	width:
}

#account > *{
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

#account-left > p{
	margin: 0px;
	font-size: 1.3em;
}

#account-left a{
	font-size: 0.9em;
	color: #DDD;
	font-style: italic;
}


#account > img{
	width: 80px;
}


/* Affichage des news */

#header-top > #news{
	text-align: left;
}

/*	Header bottom */
nav{
	margin-left: 250px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav li{
    display: inline;
}


nav a{
	display: inline-block;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 25%;
	font-size: 1.1em;
	height: 42px;
	text-decoration: none;
	/* Couleur */
	color: white;
}

nav a:visited{
	color: white;
}

nav a:hover{
	color: white;
	background-color: rgb(144, 109, 195);
}



/* CORPS DU SITE */

#content{
	max-width: 1000px;
	width: 90%;
	box-sizing: border-box;
	margin-top: 220px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background: white;

	
}

#content > div{

	padding: 20px 50px 50px 50px;
}

#content > h2{
	background-color: rgb(127, 90, 181);
	margin: 0px;
	height: 1.5em;	
	color: white;
	padding: 10px 10px 0px 10px;
	font-weight: normal;
	font-size: 2em;

}

/* ------------------------------------------- */
/*                                             */
/*  CSS SPECIFIQUE A CERTAIN CONTENT DIFFERENT */
/*                                             */
/* ------------------------------------------- */

/* INFOBULLE "?" DE FORMULAIRE */
#recherche table td:nth-child(2) img, #inscription table td:nth-child(2) img{
	width: 20px;
	height: 20px;
	border: none !important;
}
#recherche table td:nth-child(2), #inscription table td:nth-child(2){
	width: 25px;
	position: relative;
}

#recherche table td:nth-child(2) span, #inscription table td:nth-child(2) span{
	width: 150px;
	position: absolute;
	visibility: hidden;
	z-index: -1;
	font-size: 0.8em;
    overflow: hidden;
    color: white;
    background-color: rgb(127, 90, 181);
    padding: 5px;
    opacity: 0;
}
#recherche table td:nth-child(2):hover span, #inscription table td:nth-child(2):hover span{
	position: absolute;
	left: 25px;
	visibility: visible;
	z-index: 120;
	font-size: 0.8em;
	height: auto;
    width: 300px;
    color: white;
    background-color: rgb(127, 90, 181);
    padding: 5px;
    opacity: 1;
	transition:all 0.5s;
	-webkit-transition: all 0.5s;
  	-moz-transition: all 0.5s;
}

/* FIN INFOBULLE */


/* INSCRIPTION */
#inscription table{
	width: 100%;
	padding-right: 30px;
}

#inscription h3{
	padding-left: 10px;
	margin-bottom: 0px;
}

#inscription hr{
	background-color: rgb(127, 90, 181);
	height: 1px;
	border: 0;
	color: #F5F5F5;
}

#inscription table td{
	padding-top: 20px;
}

/* Première case du tableau */
#inscription table td:first-child{
	text-align: right;
	width: 20%;
}

#inscription .disable{
	opacity: 0.8;
}

/* Les trois radio button */
#inscription .ligne_radio input{
	display: none;
}

#inscription .ligne_radio input + label{
	display: inline-block;
	box-sizing: border-box;
    margin: -1px;
    padding: 4px 12px;
    width: 33%;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(127, 90, 181);
    border: solid silver 1px;
    height: 30px;
}

#inscription .ligne_radio input:checked + label{
    box-shadow: 0 0 4px rgb(127, 90, 181) inset;
    height: 31px;
}



/* L'input d'une ligne simple */
#inscription .ligne_simple td:last-child input{
	width: 100%;
	height: 30px;
	/*box-shadow: 0px 0px 1px rgb(127, 90, 181);*/
	border: solid 1px rgb(127, 90, 181);
}

/* Ligne plus petite pour les champs qui demande moins d'info */
#inscription .ligne_petite td:last-child input{
	width: 39%;
	height: 30px;
	border: solid 1px rgb(127, 90, 181);
	background: white;
}

/* Ligne double */
#inscription .ligne_double td:last-child > input{
	width: 39%;
	height: 30px;
	border: solid 1px rgb(127, 90, 181);
}
#inscription .ligne_double td:last-child span{
	margin-left: 50px;
}

/* Le bouton de changement entre Pseudonyme et Prénom/Nom */
#inscription #img_opposite{
	width: 30px;
	height: 30px;
	padding: 0px;
	background: white;
	border: none;
	position : relative;
	right: 10px;
	bottom: 20px;
	background-image: url("../../data/img/opposite5.png");
	background-size: 30px;
    background-position: 40% 80%;
	background-repeat: no-repeat;
	z-index: 0;
}


/* Le boutton pour envoyer le formulaire */
#inscription input[type="submit"]{
	font-size: 1.2em;
    width: 50%;
    text-align: center;
    box-shadow: 1px 1px 0px rgb(127, 90, 181);
    border: solid silver 1px;
    background-color: white;
    height: 30px;
    margin-left: 25%;
    margin-top: 50px;
}

#inscription input[type="submit"]:active {
	box-shadow: 0 0 4px rgb(127, 90, 181) inset;
    height: 31px;
}



/* RECHERCHE */
#recherche table{
	width: 100%;
	padding-right: 30px;
}

#recherche h3{
	padding-left: 10px;
	margin-bottom: 0px;
}

#recherche hr{
	background-color: rgb(127, 90, 181);
	height: 1px;
	border: 0;
	color: #F5F5F5;
}

#recherche table td{
	padding-top: 20px;
}

/* Première case du tableau */
#recherche table td:first-child{
	text-align: right;
	width: 20%;
}

#recherche .disable{
	opacity: 0.8;
}

/* Les trois radio button */
#recherche .ligne_radio input{
	display: none;
}

#recherche .ligne_slide td input{
	width: 90%;
	display: inline;
}
#recherche .ligne_slide td{
	text-align: center;
}

#recherche .ligne_chckbx td input{
	maring: auto;
}
#recherche .ligne_chckbx td div{
	display: inline-block;
	width: 6em;
}

#recherche .ligne_radio input + label{
	display: inline-block;
	box-sizing: border-box;
    margin:0px;
    padding: 6px;
   	overflow: hidden;
   	width:16.2%;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(127, 90, 181);
    border: solid silver 1px;
    height: 30px;
}

#recherche .ligne_radio input:checked + label{
    box-shadow: 0 0 4px rgb(127, 90, 181) inset;
    height: 31px;
}



/* L'input d'une ligne simple */
#recherche .ligne_simple td *{
	border: solid 1px rgb(127, 90, 181);
	width: 100%;
	height: 30px;
}


/* Le boutton pour envoyer le formulaire */
#recherche input[type="submit"]{
	font-size: 1.2em;
    width: 50%;
    text-align: center;
    box-shadow: 1px 1px 0px rgb(127, 90, 181);
    border: solid silver 1px;
    background-color: white;
    height: 30px;
    margin-left: 25%;
    margin-top: 50px;
}

#recherche input[type="submit"]:active {
	box-shadow: 0 0 4px rgb(127, 90, 181) inset;
    height: 31px;
}




/* AFFICHAGE D'UN ACTEUR */
.img-profil{
	width: 100px;
}


/* AFFICHAGE CONNEXION */
#content-connexion{
	text-align: center;
	padding: 10px;
	padding-bottom: 30px;
}

/* MINI HEADER */
.hide{
  	display: none;
}

.show{
 	display: inline-table;
}


.fixHeader{
 height: 25px;
 	-webkit-transition: height 0.5s;
    transition: height 0.5s;
}

#logo-mini{
 	width: 100px;
 	height: 230px;
 	float: left;
	position: relative;
	top: -20px;
	background-repeat: no-repeat;
	background-image: url("../../data/img/minilogo.png");
	background-size: 90%;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.nav-mini{
	 position: fixed;
	 top: 0px;
	 margin-left: 120px;
	 -webkit-transition: top 0.5s;
	 transition: top 0.5s;
}

.nav-mini a{
	 height: 40px;
	 width: auto;
	 padding-left: 10px;
	 padding-right: 10px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
     background-color: rgb(127, 90, 181);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); 
}

::-webkit-scrollbar-button {
    background-color: rgb(127, 90, 181);
    height: 50px;
}

::-webkit-scrollbar-corner {
    background-color: rgb(165, 158, 211);
}


/* ---------------------------- */
/* CSS SLIDERS SUR TOUT LE SITE */
/* ---------------------------- */

/* Supprime l'affichage classique du navigateur */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

/* Affichage Webkit */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #A59ED3;
  border-radius: 50px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: rgb(127, 90, 181);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

/* Affichage Mozilla */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #A59ED3;
  border-radius: 50px;
  border: 0px;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: rgb(127, 90, 181);
  cursor: pointer;
  border: 0px;
}

/* Affichage Microsoft */
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #A59ED3;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: rgb(127, 90, 181);
  cursor: pointer;
  margin: 3.6px;
}

/* FOOTER */
footer {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border-top: solid 1px #A59ED3;
	text-align: center;
}

footer ul li {
	display: inline-block;
	padding: 5px,10px,5px,10px;
}

footer img {
	width: 32px;
	height: 32px;
}

footer ul li a, footer ul li a:hover {
	color: black;
}

footer table {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

footer table td:first-child {
	text-align: right;
}