
<html>
  <head>
    <title>MOLPE - Moteur d'Organisation, Listing et Partage d'Evénementiels </title>
	 <link rel="stylesheet" href="style/style.css"> 
	 <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
	 <script type='text/javascript' src='../view/js/header.js'></script>
  </head>
  
  <body>
<header>
	<div id="header-content">
		<div id="logo"></div>
		<div id="header-top">
			<div id="news">
				<p>Ouverture de la programmation pour "Musilac"</p>
				<p>La musique donne une âme à nos coeurs et des ailes à la pensée. - Platon"</p>
			</div>
			</div>			
			
				<nav>
					<ul>
						<li><a href="#">Accueil</a></li><!--
						--><li><a href="#">Rechercher</a></li><!--
						--><li><a href="#">Mes contacts</a></li><!--
						--><li><a href="#">Mon compte</a></li>
					</ul>
				</nav>

		</div>
</header>

	<div id="content">
		<img src="style/test_formulaire.png"/>
	</div>

</body>
</html>